body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header-section {
    background-image: url("../assets/hills.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    height: 700px;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-slogan {
    font-size: 33px;
    font-weight: 800;
    color: #0B0B0B;
    width: 126px;
    word-wrap: normal;
    line-height: 1;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 37px 72px 0;
}



.header-circle {
    position: absolute;
    right: 0;
    top: 350px;
    border-radius: 50%;
    border: 1px solid black;
    width: 600px;
    height: 600px;
    background-color: grey;
    background-image: url("../assets/person.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    position: relative;
    top: 200px;
    font-weight: bold;
    padding-left: 200px;
}

.upcoming-treks-button {
    margin-top: 20px;
    background-color: black;
    color: white;
}