 body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.header-section {
    background-image: url('../assets/hills.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 37px 72px 140px;
    margin-bottom: 300px;
}

.header-left {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-text {
    font-size: 33px;
    font-weight: 800;
    color: #0B0B0B;
    width: 126px;
    word-wrap: normal;
    line-height: 1;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header > nav {
    display: flex;
    align-items: center;
}

.header > nav > a {
    color: #000;
    letter-spacing: 2.67px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16.67px;
}

.header > nav > a:hover {
    color: #444;
}

.hero-content {
    margin-top: 230px;
    position: relative;
}

.hero-content > h1,
.hero-content > h2,
.hero-content > h4 {
    font-weight: 800;
    text-transform: uppercase;
    color: #0B0B0B;
}

.hero-content > h2 {
    font-size: 39.57px;
}

.hero-content > h1 {
    font-size: 74.39px;
}

.hero-content h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 74.39px;
    color: #0B0B0B;
}

.hero-content > h4 {
    font-size: 20.83px;
    width: 477px;
    line-height: 29.17px;
}

.hero-content > button {
    margin-top: 30px;
    font-size: 12.5px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.25px;
    color: #FFFFFF;
    background: #0B0B0B 0% 0% no-repeat padding-box;
    padding: 24px 22.5px 21px;
    border: 0;
}

.person {
    width: 800px;
    height: 800px;
    background-image: url('../assets/person.png');
    background-size: cover;
    background-position-x: center;
    border-radius: 50%;
    position: absolute;
    top: -200px;
    right: -280px;
    z-index: 1;
}


.shadow {
    width: 750px;
    height: 90px;
    background: transparent url('../assets/shadow.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    background-position-x: center;
    border-radius: 50%;
    position: absolute;
    bottom: -350px;
    right: -280px;
}

.relative {
    position: relative;
}

.butterfly1 {
    position: absolute;
    top: -100px;
    left: 520px; 
}

.butterfly2 {
    position: absolute;
    top: 15px;
    left: -40px;
}

.treks-section {
   position: relative;
   top: -100px;
}
.treks-section > h2 {
    color: grey;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 8%;
}

.treks-section > h1 {
    text-transform: capitalize;
    color: #000000;
    font-weight: 600;
    padding-left: 8%;
}

.treks-section > p {
    color: #3D3D3D;
    font-weight: 400;
    position: relative;
    font-size: 20.83px;
    padding-top: 5%;
    left: 8%;
}

.treks-row {
    display: flex;
    margin-left: 80px;
    flex-direction: row;
    
}

.person-list {
    display: flex;
    justify-content: flex-end;
}

.img-gallery {
    display: flex;
    justify-content: flex-end;
}

.img-gallery > img {
  width: 309px;
  height: 406px;
  padding: 34px;
  object-fit: cover;
}

.arrows {
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    padding-top: 25%;
}

.arrows > .first {
    padding-top: 5%;
    font-weight: 400;
    font-size: 33.33px;
    color: #000000;
    padding-left: 30px;
    margin-top: 10px;
}

.arrows > .second {
    padding-top: 5%;
    font-weight: 400;
    font-size: 33.33px;
    color: #9A9A9A;
    margin-top: 10px;
}
.bi-arrow-left {
    font-size: 64px;
}

.bi-arrow-right {
    padding-left: 6%;
    font-size: 64px;
    color: #9A9A9A;
}